body {
    background-image: url("1234567.jpg");
    background-position: center;
    background-size: cover;
}




.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer 
{
  position: fixed;
  color: azure;
  bottom: 0;
  width: 100%;
  background-color: gray;
  line-height: 3;
  text-align: center;
}

canvas
{
    border: 5px solid wheat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    
}